<!DOCTYPE html>
<html>

<head>
    <title>About</title>
    <link rel="icon" href="/img/weather.png">
    <link rel="stylesheet" href="./css/styles.css">
</head>

<body>
    <div class="main-content">
        {{>header}}
        <img src="img/62621604_2372499769648231_1327929292931203072_n.jpg">

    </div>
    {{>footer}}
</body>

</html>